/*
====================================================
   SUBSCRIPTION CONTENTS
=====================================================
*/

#pricing-page {
    background: var(--clr-primary-dark-blue);
    position: relative;
}

#pricing {
    z-index: 1;
}

.pricing-banner {
    padding: 15em 0 0;
}

.pricing-contents {
    padding: 0 0 14em;
}

.pricing-content {
    padding: 25px 10px;
}

.pricing-wrapper {
    background: rgba(0,0,0,.30);
    padding: 20px 28px;
    border: 1px solid rgba(255,255,255, .15);
    border-radius: 35px;
    backdrop-filter: blur(100px);
}


.pricing-details .subscription-name {
    font-weight: 600;
    text-align: left;
    margin: 10px 0;
    font-size: 24px;
}

.pricing-details .subscription-price {
    color: var(--clr-primary-cyan);
    font-family: "Open Sans", serif;
    margin: 10px 0;
    font-size: 24px;
}

.pricing-details .subscription-price-details {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: rgba(255,255,255,.5);
    font-family: "Open Sans", serif;
}

.pricing-details .subscription-details {
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
}

.feature-lists li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 10px 0;
    height: 50px;
}

.feature-lists li i {
    color: rgba(255,255,255, .5);
    font-size: 22px;
}

.feature-lists li p {
    font-family: "Open Sans", serif;
    padding-left: 10px;
    color: var(--clr-secondary-grey);
    font-weight: 400;
    font-size: 14px;
}

.feature-lists li .credits-text {
    font-weight: bold;
    color: var(--clr-primary-cyan);
}

.feature-lists li .credits-text span {
    font-weight: 200;
}



/*
====================================================
   BOOKING DETAILS
=====================================================
*/

.upper-header {
    font-weight: 600;
    color: var(--clr-primary-cyan);
    font-size: 16px;
    margin-bottom: 0;
}

.middle-header {
    color: var(--clr-primary-white);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    margin-top: 10px;
}

.middle-header span {
    color: var(--clr-primary-cyan);
}

.description {
    font-family: "Open Sans", serif;
    font-size: 16px;
    color: var(--clr-secondary-ultra-light-grey);
    font-style: normal;
    font-weight: 400;
    line-height: 28.337px;
    margin: 20px 0 30px 0;
}

.booking-features {
    width: 280px;
}

.booking-features hr {
    margin: 0;
}

.booking-feature-list {
    display: flex;
    padding: 20px 0;
}

.booking-feature-list img {
    margin-top: 10px;
    width: 20px;
    height: 20px;
}

.booking-feature-list p {
    font-size: 16px;
    padding-left: 1.8em;
    font-family: "Open Sans", serif;
    color: var(--clr-secondary-ultra-light-grey);
}

.booking-calendar {
    padding: 30px;
    border-radius: 40px;
    background: var(--clr-primary-white);
}

/*
====================================================
    BOOKING CALENDAR
=====================================================
*/

.booking-contents {
    padding-bottom: 16em;
}

.booking-calendar header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 30px 10px;
    justify-content: center;
}

.booking-header .header-title h1{
    font-weight: 600;
    font-size: 28px;
    color: var(--clr-secondary-black);
}

header .current-date {
    color: var(--clr-secondary-black);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 16px;
}

header .booking-date {
    display: flex;
    flex-direction: row;
    text-align: center;
}

header .booking-date div {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 50px;
    cursor: pointer;
}

header .booking-date div:hover {
    background: rgba(0,0,0,.15);
}

header .booking-date i {
    font-size: 16px;
    margin: 0 1px;
    color: var(--clr-secondary-black);
    text-align: center;
}

.calendar .weeks li{
    font-weight: 600;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    z-index: 1;
    color: var(--clr-secondary-black);
    cursor: pointer;
    margin-top: 30px;
}

.calendar {
  padding: 40px 20px 15em;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
    font-size: 20px;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: .25s;
}

.days li:hover::before {
    background: rgba(0,0,0, .15);
}

@media (max-width: 480px) {
    header .current-date {
        font-size: 3vw;
    }

    .calendar ul li {
        font-size: 3vw;
    }
}

.ellipse4 {
    position: absolute;
    z-index: -1;
    top: 50em;
    left: -5em;
    bottom: 0;
    width: 300px;
    height: 300px;
    filter: blur(200px);
}

.ellipse5 {
    position: absolute;
    z-index: -1;
    top: 10em;
    right: -5em;
    bottom: 0;
    width: 260px;
    height: 260px;
    filter: blur(200px);
}












