/*
====================================================
    PROJECT HEADLINE
=====================================================
*/

.headline {
    padding: 25em 0 0 0;
}

.headline div h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 100px;
}

.headline div h2 span {
    color: var(--clr-primary-cyan);
}

@media (max-width: 992px) {
    .headline .is--bottom-56-tablet {
        font-size: 20px;
        margin-bottom: 56px;
    }
}

@media (max-width: 425px) {
    .headline .is--h5-mobile {
        font-size: 12px;
    }
}

/*
====================================================
    PROJECT SECTION
=====================================================
*/

.project {
    margin: 90px 0;
}

.project .container{
    padding: 80px 16px 12px;
}


.feature-description h3 {
    color: var(--clr-primary-cyan);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px
}

.feature-description h2 {
    margin-top: 5px;
    color: var(--clr-primary-white);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.feature-description p {
    margin-top: 30px;
    color: var(--clr-secondary-ultra-light-grey);
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.feature-button {
    margin: 20px 0 0;
}

/*
====================================================
    CREW AND PLAN WRAPPER
=====================================================
*/

.crew-section .container {
    padding: 70px 0;
}

.crew-section div .row a {
    position: relative;
    border-radius: 50px;
    border: 1.5px solid rgba(255, 255, 255, 0.20);
    width: 450px;
    height: 560px;
    /*flex-shrink: 0;*/
    cursor: pointer;
}

.wrapper-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    .wrapper-content {
        padding: 64px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper-content .crew-wrapper {
        margin-top: 140px;
    }
}

@media (max-width: 500px) {
    .crew-section div .row a {
        width: 330px;
        height: 460px;
    }

    .crew-section div .row a .picture2 {
        width: 80px;
        height: 80px;
        border-radius: 20px;
    }

    .crew-section div .row a .picture1 {
        width: 120px;
        border-radius: 30px;
    }
}

/*
====================================================
    CREW WRAPPER
=====================================================
*/

.crew-wrapper {
    margin: 4em 1.5em 0 1.5em;
    transition: .3s;
}

.crew-wrapper:hover {
    background: var(--clr-primary-white);
}

.wrapper-content a:hover div h2{
    color: var(--clr-secondary-black);
    text-decoration: none;
}

.wrapper-content a:hover div p {
    color: var(--clr-secondary-black);
}

.wrapper-content a {
    text-decoration: none;
}.crew-wrapper img {
     position: absolute;
     border: 3px solid transparent;
     background: linear-gradient(to left, var(--clr-primary-cyan), var(--clr-secondary-blue)) border-box;
 }

.crew-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 35px 3.25em 35px;
}

.crew-description button {
    margin: 20px 0 0;
}

.crew-wrapper .picture1 {
    width: 180px;
    border-radius: 50px;
    top: -80px;
    right: 55px;
}

.crew-wrapper .picture2 {
    width: 140px;
    height: 140px;
    border-radius: 40px;
    left: 55px;
    top:-40px;
}

.crew-wrapper .picture3 {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    left: 120px;
    top: 115px;
}
.crew-wrapper .picture4 {
    width: 110px;
    height: 110px;
    border-radius: 35px;
    right: 125px;
    top:115px;
}

/*
====================================================
    PLAN WRAPPER
=====================================================
*/

.plan-wrapper {
    margin: 0 1.5em;
    transition: .3s;
    padding: 60px 35px;
}

.plan-wrapper:hover {
    background: var(--clr-primary-white);
}

.plan-description button {
    width: 180px;
    margin: 20px 0 0;
}

/*
====================================================
    CONTACT FOOTER
=====================================================
*/

.contact-section {
    padding: 60px 10px;
}

.get-in-touch {
    display: flex;
}

.elsewhere-col {
    padding-right: 60px;
}

.title {
    color: #00FFF8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
}

.elsewhere-wrapper div {
    margin: 20px 0;
}

.link {
    color: #DCE1E5;
    font-family: "PP Supply Mono", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
}

.contact-wrapper2 {
    padding: 40px 0;
}

.contact-wrapper3 {
    display: flex;
    justify-content: right;
}

@media (max-width: 992px) {
    .contact-wrapper3 {
        display: block;
    }
}
