:root {
    --clr-primary-cyan: #00FFF8;
    --clr-primary-white: #FFFFFF;
    --clr-primary-dark-blue: #05003F;
    --clr-primary-grey: #BCBECD;

    --clr-secondary-black: #000000;
    --clr-secondary-light-grey: #F9FAFC;
    --clr-secondary-ultra-light-grey: #bcbecd;
    --clr-secondary-blue: #0294E0;
    --clr-secondary-grey: #979797;
}

.button {
    width: 160px;
    padding: 20px 28px;
    gap: 4.75px;
    margin: 0 20px;
    outline: none;
    border: none;
    font-family: "Supply Light", PP Supply Mono, serif;
    font-style: normal;
    line-height: 10px;
    letter-spacing: 1px;
    text-decoration: none;

    border-radius: 40px;
    background: linear-gradient(270deg, #00FFF8 -4.4%, #0294E0 103.89%);
}

.button,.link-button span {
    font-weight: 600;
}

.button:hover {
    background: linear-gradient(270deg, rgba(0, 255, 248, .75) -4.4%, rgba(2, 148, 224, .75) 103.89%);
}


.button:active {
    outline: 0;
    border: 0;
}

.link-button {
    font-family: "Supply Light", PP Supply Mono, serif;
    font-size: 12px;
    margin: 20px;
    color: var(--clr-primary-white);
    text-decoration: none;
    font-weight: 600;
    padding-left: 0;
    font-style: normal;
    letter-spacing: 1px;
    transition: .3s;
    position: relative;
}

.btn:hover {
    color: var(--clr-primary-white);
}

.navbar-subpages .link-button:active {
    color: var(--clr-primary-cyan)
}

.navbar-subpages .nav-link-button:focus {
    color: var(--clr-primary-white);
    background-color: transparent;
}

.link-button:focus {
    color: var(--clr-primary-white);
    background-color: transparent;
}

.link-button::after {
    content: '';
    width: 0;
    height: 2px;
    background: linear-gradient(to right, var(--clr-secondary-blue), var(--clr-primary-cyan));
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: .3s;
    transition-timing-function: ease-in-out;
}

.link-button:hover::after {
    width: 100%;
}

.secondary-btn {
    width: 180px;
    height: 52px;
    background: transparent;
}

.navbar-subpages .stroke-button {
    position: absolute;
    margin: 0;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 60px;
    text-align: center;
}

.navbar-subpages .stroke-button:focus {
    background: transparent;
}

.navbar-subpages a svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}


.navbar-subpages a svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 90%;
    fill: transparent;
}

.navbar-subpages a svg rect {
    stroke: url(#gradient);
    stroke-width: 2.5;
    stroke-dasharray:  500, 500;
    stroke-dashoffset: 0;
    transition: 1s;
}

.navbar-subpages a:hover svg rect {
    stroke-dasharray: 500 , 200;
    stroke-dashoffset: 500;
}

.navbar-subpages a svg text {
    stroke-dasharray: 500, 500;
}

.contact-wrapper2 a svg rect {
    fill: transparent;
    stroke: url(#gradient2);
    stroke-width: 2.5;
    stroke-dasharray:  300, 300;
    stroke-dashoffset: 0;
    transition: 1s;
}

.contact-wrapper2 a svg text {
    font-size: 18px;
}

.contact-wrapper2 a:hover svg rect {
    stroke-dasharray: 100, 50;
    stroke-dashoffset: 112;
}



/*
====================================================
    ANIMATED TEXT BUTTON
=====================================================
*/

.animated-text h2 span{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.animated-text h2 {
    position: relative;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 15px;
    overflow: hidden;
}

.animated-text:hover h2 span {
    animation: shuffle steps(5) .6s;
    transition: 1s;
}


@keyframes shuffle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-75px);
    }
}
